@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

input {
  position: absolute;
  left:35%;
  top:30%;
  display: block;
  width: 30%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: peachpuff;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid peachpuff;
}

button {
  display: block;
  position: absolute;
  top:60%;
  left: 48%;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: olive;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border-radius: 15px;
}
button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

::selection {
  background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
